.infor a {
   color: #0e0e0e;
}
.infor {
    background: #dcdcdc;
    height: 50px;
}
.a{
    padding-top: 15px;
}
.infor-register{
    padding-left:30px;
}


.menu{
     background: #162357;
     height: 93px;
 }
.menu a{
   color: White;
    list-style: none;
}
.menu-left{
    padding-top: 40px;
}
.aboutus{
    padding-left: 15px;
}
.men{
    padding-left: 30px !important;
}



.women{
    padding-left: 30px;
}
.menu-right{
    padding-top: 40px;
}
.boys{
    padding-left: 30px;
}
.girls{
    padding-left: 25px;
}
.contactus{
    padding-left: 25px;
}
.search-icon{
    padding-left: 15px;
}
.example{
    padding-left: 200px;
    margin-bottom: 10px;
}
.example button{
    margin-left: 433px;
    margin-top: -60px !important;
}
.example input{
    margin-top: -20px !important;
}


article{
    width: 1600px;
    height: 425px;
    background: url("../images/background1.jpg")no-repeat;
}
article p {
    font-size:57px;
   color: #162357;
    padding-top: 260px;
    padding-left: 650px;
}


.categoties{
    font-size: 18px;
    margin-top:105px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom:30px;
}
.show{
    margin-top: 95px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom:-30px !important;
}
.show li{
    list-style: none;
}
.showing{
    color: #606683;
}
.show input{
    margin-left: 100px;
    width: 350px;
}
.show button{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
.list-product a{
    color: #162357;
}

.Men li, .Price-Range li {
    list-style: none;
}
.Men{
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5 ;
}
.gender a{
    margin-left: -25px !important;
}
.Men li{
    padding-top: 15px;
}
.Women,.Boy,.Girl,.Accessories{
    margin-top: 20px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}
.Price-Range{
    margin-top: 50px;
    border-bottom:1px solid  #e5e5e5;
    padding-bottom: 20px;
}
.sss{
    padding-top:20px;
}
.sss a{
    margin-left: 50px !important;
    color: #86d6e7;
}
.items input{
    margin-left: -25px !important;
}
.rs{
    padding-left: 120px;
}
.color{
    margin-top: 50px;
}

.square1 {
    height: 30px;
    width: 30px;
    background-color: #e6641d;

}
.square2 {
    height: 30px;
    width: 30px;
    background-color: #1de6b0;
    margin-top: -30px !important;
    margin-left: 40px !important;
}
.square3 {
    height: 30px;
    width: 30px;
    background-color: #56e61d;
    margin-top: -30px !important;
    margin-left: 80px !important;
}
.square4 {
    height: 30px;
    width: 30px;
    background-color: #1d5fe6;
    margin-top: -30px !important;
    margin-left: 120px !important;
}
.square5 {
    height: 30px;
    width: 30px;
    background-color: #1dd1e6;
    margin-top: 15px !important;
}
.square6 {
     height: 30px;
     width: 30px;
     background-color: #e6da1d;
     margin-top: -30px !important;
     margin-left: 40px ;
 }
.square7 {
    height: 30px;
    width: 30px;
    background-color: #1de67c;
    margin-top: -30px !important;
    margin-left: 80px ;
}
.square8 {
    height: 30px;
    width: 30px;
    background-color: #f71a0f;
    margin-top: -30px !important;
    margin-left: 120px ;
}





.item1{
    border: 1px solid #e0e0e0;
    width: 235px;
    height: 330px;
    background: url("../images/item11.png") top center no-repeat;
}
.item1 p{
    padding-top: 235px;
    padding-left: 65px;
}
.item1 a{
    color: #6eaab5;
    padding-left: 75px;
}
.item1:hover{
    background: url("../images/item55.png") top center no-repeat;
}
.item1 p:hover{
    padding-top: 100px;
    padding-left: 65px;
    color: #ffffff;
}
.item1 a:hover{
    color: #ffffff;
    padding-left: 75px;
}
.item2{
    border: 1px solid #e0e0e0;
    width: 235px;
    height: 330px;
    background: url("../images/item22.png")top center no-repeat;
}
.item2 p{
    padding-top: 235px;
    padding-left: 65px;
}
.item2 a{
    color: #6eaab5;
    padding-left: 75px;
}
.item2:hover{
    background: url("../images/item55.png") top center no-repeat;
}
.item2 p:hover{
    padding-top: 100px;
    padding-left: 65px;
    color: #ffffff;
}
.item2 a:hover{
    color: #ffffff;
    padding-left: 75px;
}
.item3{
    border: 1px solid #e0e0e0;
    width: 235px;
    height: 330px;
    background: url("../images/item33.png")top center no-repeat;
}
.item3 p{
    padding-top: 235px;
    padding-left: 65px;
}
.item3 a{
    color: #6eaab5;
    padding-left: 75px;
}
.item3:hover{
    background: url("../images/item55.png") top center no-repeat;
}
.item3 p:hover{
    padding-top: 100px;
    padding-left: 65px;
    color: #ffffff;
}
.item3 a:hover{
    color: #ffffff;
    padding-left: 75px;
}
.item4{
    border: 1px solid #e0e0e0;
    width: 235px;
    height: 330px;
    background: url("../images/item44.png") top center no-repeat;
}
.item4 p{
    padding-top: 235px;
    padding-left: 65px;
}
.item4 a{
    color: #6eaab5;
    padding-left: 75px;
}
.item4:hover{
    background: url("../images/item55.png") top center no-repeat;
}
.item4 p:hover{
    padding-top: 100px;
    padding-left: 65px;
    color: #ffffff;
}
.item4 a:hover{
    color: #ffffff;
    padding-left: 75px;
}

.item5{
    border: 1px solid #e0e0e0;
    width: 235px;
    height: 330px;

    background: url("../images/item55.png") top center no-repeat;
}
.item5 p{
    padding-top: 100px;
    padding-left: 65px;
    color: #ffffff;
}
.item5 a{
    color: #ffffff;
    padding-left: 75px;
}
.item6{
    border: 1px solid #e0e0e0;
    width: 235px;
    height: 330px;
    background: url("../images/item66.png") top center no-repeat;
}
.item6 p{
    padding-top: 235px;
    padding-left: 65px;
}
.item6 a{
    color: #6eaab5;
    padding-left: 75px;
}
.item6:hover{
    background: url("../images/item55.png") top center no-repeat;
}
.item6 p:hover{
    padding-top: 100px;
    padding-left: 65px;
    color: #ffffff;
}
.item6 a:hover{
    color: #ffffff;
    padding-left: 75px;
}
.item7{
    border: 1px solid #e0e0e0;
    width: 235px;
    height: 330px;
    background: url("../images/item77.png") top center no-repeat;
}
.item7 p{
    padding-top: 235px;
    padding-left: 65px;
}
.item7 a{
    color: #6eaab5;
    padding-left: 75px;
}
.item7:hover{
    background: url("../images/item55.png") top center no-repeat;
}
.item7 p:hover{
    padding-top: 100px;
    padding-left: 65px;
    color: #ffffff;
}
.item7 a:hover{
    color: #ffffff;
    padding-left: 75px;
}
.item8{
    border: 1px solid #e0e0e0;
    width: 235px;
    height: 330px;
    background: url("../images/item88.png") top center no-repeat;
}
.item8 p{
    padding-top: 235px;
    padding-left: 65px;
}
.item8 a{
    color: #6eaab5;
    padding-left: 75px;
}
.item8:hover{
    background: url("../images/item55.png") top center no-repeat;
}
.item8 p:hover{
    padding-top: 100px;
    padding-left: 65px;
    color: #ffffff;
}
.item8 a:hover{
    color: #ffffff;
    padding-left: 75px;
}
.item9{
    border: 1px solid #e0e0e0;
    width: 235px;
    height: 330px;
    background: url("../images/item99.png") top center no-repeat;
}
.item9 p{
    padding-top: 235px;
    padding-left: 65px;
}
.item9 a{
    color: #6eaab5;
    padding-left: 75px;
}
.item9:hover{
    background: url("../images/item55.png") top center no-repeat;
}
.item9 p:hover{
    padding-top: 100px;
    padding-left: 65px;
    color: #ffffff;
}
.item9 a:hover{
    color: #ffffff;
    padding-left: 75px;
}
.product-1,.product-2,.product-3{
    margin-top: 30px;
}
.page{
    text-align: center;
    margin-top: 60px;
	
}
.page li{
    color: #494949;
    display: inline;
}
.pagination{
    border-top: 1px solid #e5e5e5;
    padding-top: 40px;
    margin-left: 300px;
    margin-bottom: 50px;
}
.pagination a{
    color: #0f0f0f;
    padding: 10px;
    border: 1px solid #e5e5e5;
}
.pagination a:hover{
    text-decoration: none;
    color:#ffffff ;
    background: #bce7f1;
}





footer{
     background-color:#1c234d;
 }
footer h3{
    margin-top: 50px;
    font-size:24px;
    color: #ffffff;
}
footer li{
    font-size: 14px;
    list-style:none;
    margin-left: -25px !important;
}
footer .follow li{
    color: #eaeaed;
}
footer a {
    margin-left:10px;
    color: #eaeaed;
}
.sex-small li, .inforend li, .contact li{
    margin-top: 10px;
}
.rim-square-fb{
    border: 1px solid #ffffff;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: -25px !important;
}
.rim-square-gg{
    border: 1px solid #ffffff;
    padding: 9px 9px;
    margin-top: 20px;
    margin-left: 5px;
}
.copyright{
    width: 100% ;

    display:block;
    text-align: center;
    color: #f4f5f5;
    background-color:#121a3e;
    bottom: 0;
    padding:20px 0;
}
